.bean {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100%;

  .glowWrapper {
    width: 100%;
    max-width: 10rem;
    will-change: filter;
    filter: var(--quality-filter, saturate(1) brightness(1)) var(--form-filter, brightness(1))
      var(--flavour-filter, brightness(1))
      drop-shadow(0 0 0.3rem var(--glow-center-color, transparent))
      drop-shadow(0 0 0.5rem var(--glow-color, transparent));

    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }
}
