@import "tailwindcss";

.markdown-content {
  p:not(:last-of-type) {
    margin-bottom: 1rem;
  }
}

:root {
  --bean-adzuki:     #e05a46;
  --bean-black:      #9966ff;
  --bean-butter:     #f5d048;
  --bean-cannellini: #f0e880;
  --bean-chickpea:   #f5b830;
  --bean-edamame:    #6ee030;
  --bean-fava:       #d49a3c;
  --bean-green:      #28d464;
  --bean-kidney:     #e82038;
  --bean-mung:       #90d038;
  --bean-navy:       #5599ff;
  --bean-pinto:      #e88040;

  --flavour-sweet:  oklch(80% 0.24718 359.283);
  --flavour-sour:   oklch(90% 0.18747 99.082);
  --flavour-bitter: oklch(65% 0.26342 264.703);
  --flavour-umami:  oklch(78.741% 0.17146 69.116);
  --flavour-spicy:  oklch(70% 0.25704 28.212);
}

.bean-adzuki     { color: var(--bean-adzuki); }
.bean-black      { color: var(--bean-black); }
.bean-butter     { color: var(--bean-butter); }
.bean-cannellini { color: var(--bean-cannellini); }
.bean-chickpea   { color: var(--bean-chickpea); }
.bean-edamame    { color: var(--bean-edamame); }
.bean-fava       { color: var(--bean-fava); }
.bean-green      { color: var(--bean-green); }
.bean-kidney     { color: var(--bean-kidney); }
.bean-mung       { color: var(--bean-mung); }
.bean-navy       { color: var(--bean-navy); }
.bean-pinto      { color: var(--bean-pinto); }

.bg-bean-adzuki     { background-color: var(--bean-adzuki); }
.bg-bean-black      { background-color: var(--bean-black); }
.bg-bean-butter     { background-color: var(--bean-butter); }
.bg-bean-cannellini { background-color: var(--bean-cannellini); }
.bg-bean-chickpea   { background-color: var(--bean-chickpea); }
.bg-bean-edamame    { background-color: var(--bean-edamame); }
.bg-bean-fava       { background-color: var(--bean-fava); }
.bg-bean-green      { background-color: var(--bean-green); }
.bg-bean-kidney     { background-color: var(--bean-kidney); }
.bg-bean-mung       { background-color: var(--bean-mung); }
.bg-bean-navy       { background-color: var(--bean-navy); }
.bg-bean-pinto      { background-color: var(--bean-pinto); }

.flavour-sweet  { color: var(--flavour-sweet); }
.flavour-sour   { color: var(--flavour-sour); }
.flavour-bitter { color: var(--flavour-bitter); }
.flavour-umami  { color: var(--flavour-umami); }
.flavour-spicy  { color: var(--flavour-spicy); }

.bg-flavour-sweet  { background-color: var(--flavour-sweet); }
.bg-flavour-sour   { background-color: var(--flavour-sour); }
.bg-flavour-bitter { background-color: var(--flavour-bitter); }
.bg-flavour-umami  { background-color: var(--flavour-umami); }
.bg-flavour-spicy  { background-color: var(--flavour-spicy); }
