---
import { getCollection } from "astro:content";
import ZodiacResult from "../components/ZodiacResult.tsx";
import Layout from "../layouts/Layout.astro";
import { buildZodiacData } from "../lib/zodiac";
import "../styles/global.css";

const beanCollection = await getCollection("beans");
const flavourCollection = await getCollection("flavours");
const zodiacCollection = await getCollection("zodiacs");

const data = buildZodiacData(
  beanCollection,
  flavourCollection,
  zodiacCollection,
);
---

<Layout title="The Bean Zodiac" description="Discover your inner legume">
  <section class="flex flex-col items-center my-4 sm:my-8">
    <ZodiacResult data={data} date={new Date()} showFortune client:load />
  </section>
  <section class="flex flex-col items-center my-4 sm:my-8">
    <a href="/calendar">Which Bean are you? →</a>
  </section>
</Layout>
