---
import { getCollection } from "astro:content";
import ZodiacResult from "../components/ZodiacResult.tsx";
import Layout from "../layouts/Layout.astro";
import { buildZodiacData } from "../lib/zodiac";
import "../styles/global.css";

const beanCollection = await getCollection("beans");
const flavourCollection = await getCollection("flavours");
const formCollection = await getCollection("forms");
const zodiacCollection = await getCollection("zodiacs");

const data = buildZodiacData(
  beanCollection,
  flavourCollection,
  formCollection,
  zodiacCollection,
);
---

<Layout title="The Bean Zodiac" description="Discover your inner Bean">
  <section class="flex flex-col items-center my-6 sm:my-12">
    <ZodiacResult data={data} showFortune client:load />
  </section>
</Layout>
