.bean {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100%;

  img {
    display: block;
    width: 100%;
    height: auto;
    max-width: 10rem;
  }

  .solidBean {
    width: 100%;
    max-width: 10rem;
    aspect-ratio: 1;
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
  }

  &::before {
    content: "";
    position: absolute;
    inset: -1rem;
    pointer-events: none;
    border-radius: 50%;
    filter: blur(3rem);
    z-index: -1;
    transform-origin: center;
  }

  &:global(.flavour-sweet)::before {
    background: radial-gradient(circle, var(--flavour-sweet) 0%, transparent 70%);
  }

  &:global(.flavour-sour)::before {
    background: radial-gradient(circle, var(--flavour-sour) 0%, transparent 70%);
  }

  &:global(.flavour-spicy)::before {
    background: radial-gradient(circle, var(--flavour-spicy) 0%, transparent 70%);
  }

  &:global(.flavour-bitter)::before {
    background: radial-gradient(circle, var(--flavour-bitter) 0%, transparent 70%);
  }

  &:global(.flavour-umami)::before {
    background: radial-gradient(circle, var(--flavour-umami) 0%, transparent 70%);
  }
}

