.bean {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100%;

  img {
    display: block;
    width: 100%;
    height: auto;
    max-width: 10rem;
  }

  .solidBean {
    width: 100%;
    max-width: 10rem;
    aspect-ratio: 1;
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
  }

  &::before {
    content: "";
    position: absolute;
    inset: -2rem;
    pointer-events: none;
    border-radius: 50%;
    filter: blur(3.5rem);
    z-index: -1;
    transform-origin: center;
    background: radial-gradient(circle, var(--glow-color, transparent) 0%, transparent 70%);
  }
}

